<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not Found</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/mobile.css">
	<link rel="stylesheet" href="/css/tablet.css">
	<link rel="stylesheet" href="/css/desktop.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<%- include ('partials/navBootstrap.ejs') %> 
	<h1>I'm sorry, we couldn't find the <%= subreddit %> subreddit</h1>
</body>
</html>