@media only screen and (min-width: 200px) {
    body{
        background-color: #fafafa;
        font-family: 'Roboto', sans-serif;
    }

    .disGrid{
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
    }
    main{
        grid-area: 1 / 2;
    }
    .navbar{
        padding: 0.7rem 2rem;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }

    h1{
        margin-top: 2rem;
    }

    h1, h2{
        text-align: center;
    }

    h2, h3, .user{
        margin: 1rem 0;
    }

    h2{
        font-size: 1.4rem;
    }
    .subs{
        color: #363636;
        text-align: center;
        margin-bottom: 3rem;
    }
    article{
        border: .1rem solid #554c4c;
        padding: 1rem;
        margin: 1rem;
        border-radius: .3rem;
    }
    img{
        max-width: 100%;
        height: auto;
        
    }
}